.text-sm {
    font-size: 16px;
    color: gray;
    font-weight: 200;
}

.text-lg-bold {
    font-size: 24px;
    color: var(--brand-dark);
    font-weight: bold;
}


/* spacing */

.mt-base {
    margin-top: 2rem;
}

.px-lg {
    padding: 0 20px;
}


/* flex  */



.flex {
    display: flex;
}

.flex-end {
    align-items: end;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}


.justify-around {
    justify-content: space-around;
}

.gap-1 {
    gap: 4px;
}

.flex-col {
    flex-direction: column;
}

.hr {
    height: .2px;
    width: 100%;
    background-color: #313131a9;
}

.pt-6 {
    padding-top: 24px;
}

.px-2 {
    padding: 0 8px;
}